:root{
    --loading-grey:#ededed;
    --common-width:50%;
}
html,body{
    margin: 0;
    border: 0;
    /* background: url("../img/background.jpeg") no-repeat;
    background-size: 100% 100%; */
}
body{
    /* min-height: 100vh; */
}
.inner{
    width: 1184px;
}
.head{
    margin: auto;
    background-color: #ededed;
}
.nav{
    margin: auto;
    margin-top: 20px;
    width: var(--common-width);
}
.nav ul{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* 去掉ul样式 */
    list-style:none; 
}
.nav ul li{
    padding: 10px;
}
.nav ul li a{
    text-decoration: none;
    color: #000000;
}
.nav ul li:hover{
    background-color: #f6f6f6;
    animation-delay: .1s;
}
.main{
    height: 550px;
    background-color: #f6f6f6;
    margin: auto;
}
.foot{
    display: flex;
    align-items: center;
    margin: auto;
    height: 50px;
    background-color: #ededed;
}
.foot_text{
    margin: auto;
    text-align: center;
}