:root{
    --loading-grey:#ededed;
    --common-width:calc(1184px*0.7);
}
html,body{
    margin: 0;
    border: 0;
background-color: #FFFFFF;
}
body{
    min-height: 90vh;
}
.inner{
    width: 1184px;
}
.head{
    margin: auto;
    background-color: #336666;
}
.nav{
    margin: auto;
    margin-top: 20px;
    width: var(--common-width);
}
.nav ul{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* 去掉ul样式 */
    list-style:none; 
}
.nav ul li{
    padding: 10px;
}
.nav ul li:hover{
    background-color: #f6f6f6;
    animation-delay: .1s;
}
.nav ul li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
}
.nav ul li:hover> a{
    color: #336666;
}
.main{
    height: 550px;
    background-color: #f6f6f6;
    margin: auto;
}
.foot{
    display: flex;
    align-items: center;
    margin: auto;
    height: 50px;
    background-color: #336666;
}
.foot_text{
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: #FFFFFF;
}