:root {
    --loading-grey: #ededed;
    --common-width: calc(1184px*1);
    --common-small-width: calc(1184px*0.7);
}

html,
body {
    margin: 0;
    border: 0;
    background-color: #f6f6f6;
}

body {
    min-height: 90vh;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.inner {
    width: var(--common-width);
}

/* 头部 */
.head {
    margin: auto;
    background-color: #f6f6f6;
}

.nav {
    margin: auto;
    margin-top: 20px;
    width: var(--common-small-width);
}

.nav ul {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* 去掉ul样式 */
    list-style: none;
}

.nav ul li {
    padding: 10px;
    transition: .1s;
}

.nav ul li:hover {
    background-color: #f6f6f6;
}

.nav ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.nav ul li:hover>a {
    color: #336666;
}

/* 中部 */
.main {
    height: auto;
    background-color: #f6f6f6;
    margin: auto;
}

#blockPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    width: 300px;
    height: 200px;
    background-color: #e9e3e3;
    margin: 30px;
    border-radius: 8px;
    transition: .1s;
}

.block:hover {
    width: 300px;
    height: 200px;
}

.block:hover .block_content {
    margin: 10px;
    background-color: #a5a4a4;
}

.block_content {
    width: 280px;
    height: 150px;
    margin: 10px;
    background-color: #a5a4a4;
}

.block_text {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    margin: 5px;
}

.block_text a {
    text-decoration: none;
    color: #FFFFFF;
    transition: .1s;
}

.block_text a:hover {
    color: #ededed;
}

.addButton {
    width: 100%;
    text-align: center;
    margin: 10px 0 10px 0;
}

.addButton button {
    width: 100px;
    height: 40px;
    line-height: 40px;
}

/* 底部 */
.foot {
    display: flex;
    align-items: center;
    margin: auto;
    height: 50px;
    background-color: #336666;
}

.foot_text {
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: #FFFFFF;
}

/* 右侧悬浮 */
.suspend {
    position: fixed;
    height: 100vh;
    width: 40px;
    background-color: #999999;
    z-index: 100;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
/* 隐藏 */
.hide{
    display: none;
}